.component {
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.left {
}
.right {
  flex: 2;
  background-color: var(--background-3);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
