.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  flex: 1;
  overflow-y: auto;
  background-color: var(--background-dark);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerActions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.tagWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.tag {
  flex: 1 !important;
  display: flex;
  justify-content: space-between !important;
  flex-direction: row;
  align-items: center;
  cursor: pointer !important;
}
.tag:hover {
  background-color: var(--violet-9) !important;
}

.dropdownMenu {
}
.menuButton {
  flex-shrink: 0;
}

.tagLabel,
.tagEnd {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.tag.inactive {
  background-color: var(--background-dark);
}
