.container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.content {
  height: 100vh;
  padding: 0 50px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 2;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  z-index: 2;
  position: relative;
}
.form button {
  margin-top: 20px;
  cursor: pointer;
}

.registerLink {
  margin-top: 20px;
  text-align: center;
}

.registerLink button:hover {
  cursor: pointer !important;
}

.spinner {
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
