.component {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  min-height: 0;
  border-top: 1px solid var(--border);
}

.right {
  flex: 2;
  background-color: var(--background-3);
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}
