.component {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 0;
  border-top: 1px solid var(--border);
  background-color: var(--background-3);
  overflow: hidden;
}
