.component {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.select {
  width: 100%;
  background-color: var(--background-3);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  color: var(--text);
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
  outline: none;
  cursor: pointer;
}

.select:focus {
  border-color: var(--primary);
  background-color: var(--background-3);
}

.select:hover {
  border-color: var(--primary);
}

.select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.select.error {
  border-color: #ef4444;
}

.sm {
  padding: 2.5px 5px;
  font-size: 12px;
}

.md {
  padding: 5px 10px;
  font-size: 14px;
}

.lg {
  padding: 7px 12px;
  font-size: 16px;
}

.fieldError {
  font-size: 12px;
  color: #ef4444;
  line-height: 1.5;
}
