.container {
  flex-shrink: 0;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  border-bottom: 1px solid var(--border);
  background-color: var(--background-2);
  gap: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 8px 0 0;
}
