.container {
  width: 100%;
  overflow: hidden;
  background-color: var(--background);
  position: relative;
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

.content {
  padding: 100px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 2;
}

.backButton {
  align-self: flex-start;
  margin-bottom: -20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
}

.form button {
  margin-top: 10px;
  cursor: pointer;
}
