.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--background);
  position: relative;
}

.version {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
  font-size: 12px;
  color: var(--text-light);
  text-align: right;
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

.content {
  padding: 100px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 2;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
}

.form button {
  margin-top: 10px;
  cursor: pointer;
}
