.component {
  position: relative;
  display: flex;
  align-items: stretch;
}

.card {
  padding: 10px 15px;
  transition: background-color 0.2s ease;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 10px;
  position: relative;
  overflow: hidden;
  flex: 1;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

.checkboxWrapper {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  z-index: 4;
}

.picture {
  margin: 0 0 0 0;
  flex-shrink: 0;
}
.picture img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.name {
  margin-top: -3px;
  padding-right: 120px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 8px;
}

.secondaryLine {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  align-items: center;
}
.tagsContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.tagsWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 3px 0;
}

.tagButton {
  flex-shrink: 0;
}

.tagButtonLabel {
  font-size: 12px;
}

.tagManagerDropdown {
  min-width: 300px;
  max-width: 400px;
  padding: 12px !important;
}

.tag {
  display: inline-block;
  padding: 3px 7px;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  color: white;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
}

.colored {
  color: var(--background-4);
  border: none;
}

.actions {
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 3;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.component:hover .actions {
  opacity: 1;
  pointer-events: auto;
}
.actionsContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}
.updatedText {
  text-align: right;
  padding-top: 2px;
}
