.component {
  position: relative;
}

.card {
  padding: 10px 15px;
  transition: background-color 0.2s ease;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

.picture {
  margin: 5px 15px 0 0;
}
.picture img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name {
  padding-right: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 8px;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.tagsWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 8px 0;
}

.tagManagerDropdown {
  min-width: 300px;
  max-width: 400px;
  padding: 12px !important;
}

.tag {
  display: inline-block;
  padding: 2px 8px;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 8px;
  color: white;
  font-size: 11px;
  font-weight: 500;
}

.colored {
  color: var(--background-4);
  border: none;
}

.updatedText {
  text-align: right;
}

.actions {
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 3;
  display: flex;
  gap: 4px;
  align-items: center;
}
