.container {
  padding: 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.saveButton {
  cursor: pointer !important;
}
.spinner {
  animation: spin 1s linear infinite;
  margin-right: 8px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fieldError {
  color: var(--red-11);
  font-size: 12px;
  margin-top: -8px;
}
