.component {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}
.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 50px;
}
