.header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 12px 20px;
  height: 40px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}
