.component {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input {
  width: 100%;
  background-color: var(--background-3);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  color: var(--text);
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
  outline: none;
  position: relative;
  z-index: 1;
}

.input:focus {
  border-color: var(--primary);
  background-color: var(--background-3);
}

.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input::placeholder {
  color: var(--text-light);
}

.input.error {
  border-color: #ef4444;
}

.sm {
  padding: 2.5px 5px;
  font-size: 12px;
}

.md {
  padding: 3px 6px;
  font-size: 14px;
}

.lg {
  padding: 7px 12px;
  font-size: 16px;
}

.fieldError {
  font-size: 12px;
  color: #ef4444;
  line-height: 1.5;
}

.withContent {
  padding-left: 40px;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 12px;
  z-index: 2;
  cursor: col-resize;
}
