.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 1px solid var(--border);
  height: 100vh;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0 0 20px 0;
}

.headerActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 15px;
  margin-bottom: 10px;
}

.contentActionsButtons {
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex: 1;
  width: 100%;
}

.tagWrapper {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.tag {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: inherit;
  text-decoration: none;
  padding: 10px 20px;
  align-items: center;
  transition: background-color 0.2s ease;
}

.tag.active {
  background-color: rgba(255, 255, 255, 0.07);
}

.tag:hover,
.tag.active:hover {
  background-color: rgba(255, 255, 255, 0.12) !important;
}

.tagIconLabelWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.dropdownMenu {
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 3;
}

.tagLabel,
.tagEnd {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.tagEnd.countItem {
  padding-right: 35px;
}

.status {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
