.component {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page {
  padding: 0px 50px 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pageTitle {
  margin: 10px 0;
}

.cancelAction {
  display: flex;
}

.refreshButton {
  margin-right: 8px;
}

.refreshIcon:global(.lucide-loader-2) {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
