.container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.content {
  padding: 100px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 2;
}

.special {
  background: radial-gradient(
    circle,
    var(--background-light) 0%,
    var(--background) 70%
  );

  z-index: 1;
  position: absolute;
  top: -50%;
  left: -25%;
  width: 150%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form button {
  margin-top: 20px;
  cursor: pointer;
}

.registerLink {
  margin-top: 20px;
  text-align: center;
}

.registerLink button:hover {
  cursor: pointer !important;
}

.spinner {
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
