.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 1px solid var(--border);

  overflow-y: auto;
  background-color: var(--background-2);
}

.header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
  height: 40px;
  border-bottom: 1px solid var(--border);
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 20px 0;
}

.contentActions {
  margin: 30px 0 10px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex: 1;
  width: 100%;
}

.tagWrapper {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.tag {
  flex: 1 !important;
  display: flex;
  justify-content: space-between !important;
  flex-direction: row;
  align-items: center;
  cursor: pointer !important;
}

.dropdownMenu {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 3;
}

.menuButton {
  flex-shrink: 0;
}

.tagLabel,
.tagEnd {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.tagEnd.countItem {
  padding-right: 35px;
}

.tag.inactive {
  background-color: var(--background-2);
}

.status {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
