/* @import url('./fonts.css'); */
@import url('./reset.css');
@import url('./variables.css');

html {
	scroll-behavior: smooth;
}

body {
	color: var(--text);
	background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

.container {
	padding: 0px 20px;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 680px;
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1340px) {
	.container {
		max-width: 1280px;
	}
}

.content {
	margin: 50px auto;
	max-width: 800px;
}

@media (min-width: 576px) {
	.content {
		margin: 100px auto;
	}
}

.content h1 {
	margin-bottom: 30px;
}

.content h2 {
	margin-bottom: 10px;
}

.content p {
	margin-bottom: 20px;
}

.content ul {
	margin-bottom: 20px;
}

.content ul li {
	list-style-position: inside;
}

.page-header {
	max-width: 800px;
	margin: 50px auto;
}

@media (min-width: 576px) {
	.page-header {
		margin: 80px auto;
	}
}

.page-title {
	font-size: 60px;
	line-height: 1.1;
	font-weight: 600;
	text-align: center;
	margin-bottom: 50px;
}

.page-title span {
	color: var(--primary);
	font-weight: 300;
	display: block;
}

.page-description {
	font-size: 18px;
	text-align: center;
}

.box {
	background-color: var(--primary);
	color: var(--text);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	padding: 25px 30px;
	margin-bottom: 30px;
}

.page-admin h1 {
	margin-bottom: 20px;
}

.page-admin h2 {
	margin-bottom: 20px;
}