*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  touch-action: pan-y, pan-x; /* prevent zoom on safari */
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
