:root {
  --text: #abb0ba;
  --text-light: #8d9096;

  --border: #57585e;
  --border-radius: 2px;

  --primary: #9894f5;

  --background-1: #57585e;
  --background-2: #2e343d;
  --background-3: #282b33;
}
