/* @import url('./fonts.css'); */
@import url('./reset.css');
@import url('./variables.css');

html {
  background: var(--background-3);
  /* Ensure popup stays on top */
  z-index: 2147483647; /* Maximum z-index value */
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 2147483647; /* Maximum z-index value */

  color: var(--text);
  transition:
    width 0.2s ease,
    height 0.2s ease;

  width: 400px;
  max-width: 400px;
  height: 500px;
}

body.compact {
  width: 400px;
  height: 500px;
  min-height: 1000%;
}

body.large {
  width: 700px;
  max-width: 700px;
  height: 600px;
}

.settings {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  background-color: var(--background-4);
}
