:root {
  --text: #e2e5eb;
  --text-light: #9ca1ab;

  --border: #464b57;
  --border-hover: #6f7075;
  --border-radius: 2px;

  --primary: #6e56cf;
  --secondary: #fac883;

  --background-1: #57585e;
  --background-2: #2f343e;
  --background-3: #1e2228;

  --input-background: #13161d;
}

[data-theme='light'] {
  --text: #111111;
  --text-light: #555555;

  --border: #d0d0d0;
  --border-hover: #999999;
  --border-radius: 2px;

  --primary: #6e56cf;
  --secondary: #e5a84b;

  --background-1: #f0f0f0;
  --background-2: #eeeeee;
  --background-3: #ffffff;
  --input-background: #f0f0f0;
}
