.container {
  background-color: var(--background);

  height: 100vh;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.flash {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  color: #fff;
}
