.container {
  background-color: var(--background);

  height: 100vh;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.flash {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  font-size: 12px;
  color: var(--text-light);
  text-align: right;
}
