.container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.content {
  height: calc(100vh - 60px);
  padding: 30px 50px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.version {
  font-size: 12px;
  color: var(--text-light);
}

.spinner {
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
