.flash {
  background-color: var(--background-1);
  padding: 5px 10px;
  display: flex;
  align-items: flex-start;
  gap: 6px;

  font-size: 14px;
  word-break: break-word;
  white-space: pre-line;
}

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 52rem;
  margin: 0 auto;
  background-color: var(--background-3);
}

.content {
  height: calc(100vh - 60px);
  padding: 10px 20px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
}

.version {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 12px;
  color: var(--text-light);
  z-index: 3;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.spinner {
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.successMessage {
  padding: 10px;
  background-color: var(--background-3);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}
