.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select {
  transition: border-color 0.2s, box-shadow 0.2s;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;

  color: var(--gray-12);
  background-color: var(--color-surface);
  box-shadow: inset 0 0 0 1px var(--gray-a7);

  padding-left: var(--space-3);
  padding-right: var(--space-3);

  --select-trigger-height: var(--space-6);
  gap: calc(var(--space-1) * 1.5);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
  border-radius: max(var(--radius-2), var(--radius-full));

  box-sizing: border-box;
  height: var(--select-trigger-height);

  &:focus {
    outline: 2px solid var(--focus-8);
    outline-offset: -1px;
  }
  &:hover {
    box-shadow: inset 0 0 0 1px var(--gray-a8);
  }
}

.checkbox {
  margin: 0 !important;
  padding: 0 !important;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-4);
  gap: var(--space-2);
}

.saveButton {
  flex-shrink: 0;
}

.version {
  font-size: 12px;
  color: var(--text-light);
}
