.background {
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: background-color 0.2s ease;
}

.light.focused {
  background-color: rgba(255, 255, 255, 0.07);
}

.dark.focused {
  background-color: rgba(0, 0, 0, 0.07);
}

.on.light:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.on.dark:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
