.container {
  flex-shrink: 0;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  border-bottom: 1px solid var(--border);
  background-color: rgba(0, 0, 0, 0.2);
}

.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 20px;
}

.searchInput {
  position: absolute;
  inset: 0;
  border: none;
  margin: 0;
  padding: 0 0 0 45px;
  background: none;
  box-shadow: none;
  outline: none;
  z-index: 0;
}

.searchInput::placeholder {
  font-size: 14px;
  color: var(--text-light);
}
.addBookmarkButton {
  width: 35px !important;
  height: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
  border-radius: 100px !important;
  border: none !important;
  padding: 5px !important;
  background-color: var(--primary);
  color: var(--text) !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  transition: background-color 0.2s ease !important;
}
.addBookmarkButton:hover {
  background-color: var(--primary);
}
