.checkboxContainer {
  position: relative;
  height: 15px;
}

.checkboxContainer input[type='checkbox'] {
  visibility: hidden;
}

.checkmark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--background-3);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

/* Hover effect */
.checkboxContainer:hover input ~ .checkmark {
  background-color: var(--background-2);
}

/* Checked effect */
.checkboxContainer input:checked ~ .checkmark {
  background-color: var(--primary);
}

/* Checkmark */
.checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 4px;
  top: -1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Display checkmark when checked */
.checkboxContainer input:checked ~ .checkmark::after {
  display: block;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
