.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  flex-shrink: 0;
  transition: background-color 0.2s ease;
  outline: none;
  box-shadow: none;
  border: none;
  /* background: transparent;
  background-color: transparent; */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

.sm {
  padding: 2.5px 5px;
  font-size: 12px;
}

.md {
  padding: 5px 10px;
  font-size: 14px;
}

.lg {
  padding: 15px 30px;
  font-size: 18px;
}

.icon.sm {
  padding: 2.5px;
  width: 26px;
  height: 26px;
}

.icon.md {
  padding: 7.5px;
  width: 30px;
  height: 30px;
}

.icon.lg {
  padding: 10px;
  width: 40px;
  height: 40px;
}

.primary.solid {
  background-color: var(--primary);
  color: white;
}

.light.solid {
  background-color: var(--text);
  color: var(--background-3);
}

.dark.solid {
  background-color: var(--background-3);
  color: var(--text);
}

.black.solid {
  background-color: var(--background-3);
  color: var(--text);
}

.primary.ghost {
  background-color: transparent;
  color: var(--primary);
}

.light.ghost {
  background-color: transparent;
  color: var(--text);
}

.dark.ghost {
  background: none;
  color: var(--text);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
