.text {
  font-size: 12px;
  font-weight: 400;
  color: var(--text);
  line-height: 1.5;
  text-align: left;
  text-wrap: wrap;
  text-overflow: ellipsis;
  /* overflow: hidden;
  white-space: nowrap; */
  word-break: break-word;
  word-wrap: break-word;
  word-break: break-all;
  user-select: none;
}

.size-1 {
  font-size: 10px;
}
.size-2 {
  font-size: 14px;
}
.size-3 {
  font-size: 18px;
}
.size-4 {
  font-size: 25px;
}
.size-5 {
  font-size: 30px;
}
.size-6 {
  font-size: 35px;
}

.weight-light {
  font-weight: 300;
}
.weight-regular {
  font-weight: 400;
}
.weight-medium {
  font-weight: 600;
}
.weight-bold {
  font-weight: 700;
}

.color-inherit {
  color: inherit;
}
.color-light {
  color: var(--text-light);
}
.color-primary {
  color: var(--primary);
}
.color-white {
  color: #fff;
}
